header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2222;
  height: 100px;
  text-align: center;
}

body {
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  width: 100%;
  margin-top: 100px;
  align-content: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
  margin-right: 2em;
}

.imageSlider {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#sliderImageDiv {
  height: 300pt;
}

#sliderImage {
  max-height: 300pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imageSliderButtons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

#previousButton, #nextButton {
  margin-left: 3em;
  margin-right: 3em;
  width: 8em;
}

#previousButton:hover, #nextButton:hover {
  box-shadow: 0.2em 0.2em grey;
}

footer {
  text-align: center;
}

@media print {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}